/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY INDEX CODE*/

.container {
    display: flex;
}

.column1 {
    flex: 1;
    height: 100%;
    margin: auto 0;
    padding: 100px 50px 0px 100px;
}
.column2 {
    flex: 1;
    height: calc(100vh - 1px);
    background-image: url(img/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0;
    padding: 0px 50px 0px 100
}

.index-home {
    display: flex;
    width: 100%;
}

.column1 {
    padding-left: 100px;
    margin: auto;
}

.column1 h2 {
    padding-bottom: 15px;
    font-family: 'Catamaran';
    font-size: 20px;
    font-weight: 800px;
}

.column1 h1 {
    padding-bottom: 15px;
    font-family: 'Catamaran';
    font-size: 60px;
    font-weight: 700;
}

.column1 h1 span {
    color: white;
    font-weight: 600;
    text-shadow: 
    -2px -2px 0 #ffc400,
    2px -2px 0 #ffc400,
    -2px 2px 0 #ffc400,
    2px 2px 0 #ffc400;
}

.description {
    background-color: #ffc400;
    font-family: 'Catamaran';
    width: fit-content;
    height: fit-content;
    font-weight: 700;
    padding: 8px;
    border-radius: 6px;
}

.article {
    line-height: 30px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 20px
}

.article span {
    font-weight: 600;
}
div .about-link {
        background-color: #ffc400;
        font-family: 'Catamaran';
        width: fit-content;
        padding: 8px;
        margin: 10px;
        border-radius: 20px;
}

div .about-link a {
    text-decoration: none;
    color: #000;
}

.column2 .img-me {
    flex:1;
    background-image: url('img/me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 0;
    width: 100%;
    height: 100%; 
}

.about-link a :hover {
    text-decoration: none;
    color: #fff;
}

/*Column2 code starts here*/

.column2 .social-handles{
    display: flex;
    flex-direction: column;
    background-color:#ffcc00;
    
    height: 50vh;
    margin-top: 25vh;
    margin-right: 10px;  
    float: right;
    padding-right: 10px;
    border-radius: 20px;
}
.social-handles img,.icons{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 2px;
}
.social-handles .icons :hover{
    fill: #fff;
}
.icon :hover{
        color: white;
}

/*INDEX CODE ENDS HERE*/



